# ld65 linker config — PRG loading at $0801 (BASIC start)
MEMORY {
    ZP:   file = "", start = $0002, size = $00fa, type = rw, define = yes;
    MAIN: file = %O, start = $07ff, size = $c000, fill = no;
}
SEGMENTS {
    LOADADDR: load = MAIN, type = ro,               start = $07ff;
    EXEHDR:   load = MAIN, type = ro;
    STARTUP:  load = MAIN, type = ro;
    CODE:     load = MAIN, type = ro,  optional = yes;
    RODATA:   load = MAIN, type = ro,  optional = yes;
    DATA:     load = MAIN, type = rw,  optional = yes;
    BSS:      load = MAIN, type = bss, optional = yes, define = yes;
    ZEROPAGE: load = ZP,   type = zp,  optional = yes;
}
